@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-light: #fafafa;
  --color-dark: #231f20;
  --color-red: #ff5757;
  --color-red-light: #fde4e4;
  --color-blue: #77a4d4;
  --color-yellow: #fbb040;
  --color-pink: #ff85a5;
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--color-text);
  background: var(--color-background);
  font-family: "Anaheim";
  font-weight: normal;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

strong {
  font-weight: 500;
}

h1,
h2,
h3 {
  font-family: Courier, monospace;
  font-weight: 500;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}
